# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

#IDEA Files
*.iml
*.ipr
*.iws

#builds
*.class
html/build/dist/**/*.*
desctop/build/tmp/**/*.*
*.log
/core/build/reports/
/core/build/dependency-cache/
/core/build/tmp/
/core/build/classes/
/core/build/integration-test-results/
/core/build/test-results/
/core/build/resources/
/desktop/build/tmp/
/desktop/build/classes/
/desktop/build/dependency-cache/
/html/build/tmp/
/.gradle/
/build/
/desktop/build/docs/
/html/build/dependency-cache/
/html/build/docs/
/html/build/classes/
/html/build/gwt/
