#IDEA Files
*.iml
*.ipr
*.iws

*.class
*.log
/core/build/reports/
/core/build/dependency-cache/
/core/build/tmp/
/core/build/classes/
/core/build/integration-test-results/
/core/build/test-results/
/core/build/resources/
/desktop/build/tmp/
/desktop/build/classes/
/desktop/build/dependency-cache/
/html/build/tmp/
/.gradle/
/build/
/desktop/build/docs/
/html/build/dependency-cache/
/html/build/docs/
/html/build/classes/
/html/build/gwt/
/html/war/
